<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row mb-3", style="border-bottom: 2px solid black;">
        <div class = "col-12">
          <h3 class="pt-3 pb-3 m-0">コメント一覧</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class= "align-middle text-center">ID</th>
                  <th class= "align-middle text-center">投稿日時</th>
                  <th class= "align-middle">コメント者</th>
                  <th class= "align-middle">コメント内容</th>
                  <th class= "align-middle">学習者</th>
                  <th class= "align-middle text-center">学習記録ID</th>
                  <th class= "align-middle text-center">削除ボタン</th>
                </tr>
              </thead>
              <tbody>
                <% @comments.each do |comment| %>
                  <tr>
                    <td class= "align-middle text-center"><%= comment.id %></td>
                    <td class= "align-middle text-center"><%= comment.created_at.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[comment.created_at.wday] %>) </td>
                    <td class= "align-middle"><%= comment.user.name %></td>
                    <td class= "align-middle"><%= comment.comment_body%></td>
                    <td class= "align-middle"><%= comment.study_record.user.name%></td>
                    <td class= "align-middle text-center"><%= comment.study_record.id%></td>
                    <td class= "align-middle text-center"><%= link_to "削除", admin_comment_path(comment), method: :delete, class: "btn btn-sm btn-danger w-100" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>