<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row mb-3">
        <div class = "col-12">
          <h1>コメント一覧</h1>
        </div>
      </div>
      <div class = "row mb-3">
        <div class = "col-1 d-flex justify-content-center align-items-center">
          <p>ID</p>
        </div>
        <div class = "col-2 d-flex justify-content-center align-items-center">
          <p>投稿日時</p>
        </div>
        <div class = "col-1 d-flex justify-content-center align-items-center">
          <p>コメント者</p>
        </div>
        <div class = "col-4 d-flex justify-content-center align-items-center">
          <p>コメント内容</p>
        </div>
        <div class = "col-2 d-flex justify-content-center align-items-center">
          <p>学習者</p>
        </div>
        <div class = "col-1 d-flex justify-content-center align-items-center">
          <p>学習記録ID</p>
        </div>
        <div class = "col-1 d-flex justify-content-center align-items-center">
          <p>削除ボタン</p>
        </div>
      </div>
      <% @comments.each do |comment| %>
        <div class = "row mb-3">
          <div class = "col-1 d-flex justify-content-center align-items-center">
            <p><%= comment.id %></p>
          </div>
          <div class = "col-2 d-flex justify-content-center align-items-center">
            <p><%= comment.created_at.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[comment.created_at.wday] %>) </p>
          </div>
          <div class = "col-1 d-flex justify-content-center align-items-center">
            <p><%= comment.user.name %></p>
          </div>
          <div class = "col-4 d-flex justify-content-center align-items-center">
            <p><%= comment.comment_body%></p>
          </div>
          <div class = "col-2 d-flex justify-content-center align-items-center">
            <p><%= comment.study_record.user.name%></p>
          </div>
          <div class = "col-1 d-flex justify-content-center align-items-center">
            <p><%= comment.study_record.id%></p>
          </div>
          <div class = "col-1 d-flex justify-content-center align-items-center">
            <p><%= link_to "削除", admin_comment_path(comment), method: :delete, class: "btn btn-sm btn-danger" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>