<div class = "container-fluid">
  <div class = "row mt-2">
    <div class = "col-12 order-2 col-md-5 order-md-1 mb-3">
      <div class = "row m-0">
        <div class = "col-12 p-0 border d-flex justify-content-center align_items-center bg-pale">
          <h3 class = "mb-0 p-3" style= "font-size: 20px;"><strong>チャット</strong></h3>
        </div>
      </div>
      <div class = "row m-0">
        <div class = "col-12 p-0">
          <div class = "p-3 overflow-auto border bg-pale" id = "chat-logs-container" data-room-id = "<%= @room.id %>" style="height: 65vh;">
            <% @chat_logs.each do |log| %>
              <%= render "shared/chat_log", chat_log: log %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 order-1 w-25 col-md-2 order-md-2 w-100 pt-5 d-flex flex-column justify-content-center align-items-center">
      <span id="mode" style="font-size: 50px;"><%=@timer[:mode]%></span>
      <span id="timer" style="font-size: 50px;"><%=@timer[:remaining]%></span>
      <div class = "d-flex flex-column justify-content-center w-100">
        <%= link_to "終了", admin_root_path, class: "btn btn-outline-danger w-100 mt-3 mb-3" %>
      </div>
    </div>
    <div class="col-12 order-3 col-md-5 order-md-3 mb-3 d-flex flex-column">
      <div class = "row m-0">
        <div class = "col-12 p-0 border bg-pale d-flex justify-content-center align_items-center">
          <h3 class = "mb-0 p-3" style= "font-size: 20px;"><strong>現在参加者</strong></h3>
        </div>
      </div>  
      <div class="row m-0 overflow-auto border bg-pale" style="height: 65vh; align-content: flex-start;">
        <div class="col-12">
          <div id="admin-monitor-container" data-room-id="<%= @room.id %>">
            <%= render "shared/active_users_list", room_accesses: @room_accesses, is_admin: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>