<div class = "container-fluid">
  <div class = "row">
    <div class = "col-5">
      <div class = "row m-0">
        <div class = "col-12 p-0 border d-flex justify-content-center align_items-center">
          <h3 class = "mb-0 p-3" style= "font-size: 20px;"><strong>チャット</strong></h3>
        </div>
      </div>
      <div class = "row m-0">
        <div class = "col-12 p-0">
          <div class = "p-3 overflow-auto border" id = "chat-logs-container" data-room-id = "<%= @room.id %>">
            <% @chat_logs.each do |log| %>
              <%= render "public/rooms/chat_log", chat_log: log %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-7">
      <div class = "row h-75">
        <div class="col-3 pt-5 pr-0 pl-0 d-flex flex-column justify-content-center align-items-center">
          <span id="mode" style="font-size: 50px;"><%= @timer[:mode] %></span>
          <span id="timer" style="font-size: 50px;"><%= @timer[:remaining] %></span>
        </div>
        <div class="col-9 mb-3  d-flex flex-column">
          <div class = "row m-0">
            <div class = "col-12 p-0 border d-flex justify-content-center align_items-center">
              <h3 class = "mb-0 p-3" style= "font-size: 20px;"><strong>現在参加者</strong></h3>
            </div>
          </div>  
          <div class="row m-0 border h-100">
            <div class="col-12">
              <div class="row m-0 border-bottom">
                <div class="col-5 p-1 d-flex justify-content-center">
                  ユーザ名
                </div>
                <div class="col-4 p-1 d-flex justify-content-center">
                  学習テーマ
                </div>
                <div class="col-3 p-1 d-flex justify-content-center">
                  ステータス
                </div>
              </div>
              <% @room_accesses.each do |room_access| %>
                <div class="row mx-0 p-2 border-bottom">
                  <div class="col-5 d-flex justify-content-left align-items-center">
                    <p class = "mb-0 mr-3"><%= image_tag room_access.user.user_image, style: "width:30px; height:30px; object-fit:cover;" %></p>
                    <p class = "mb-0"><%= room_access.user.name %></p>
                  </div>
                  <div class="col-4 d-flex justify-content-left align-items-center">
                    <p class = "mb-0"><%= room_access.study_theme.theme_title %></p>
                  </div>
                  <div class="col-3 d-flex justify-content-left align-items-center align-items-center">
                    <p class = "mb-0"><%= room_access.study_status %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= form_with model: @chat_log, url: public_chat_logs_path, local: false, html: { id: "chat-form" } do |f| %>
        <div class="row">
          <div class="col-12">
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.text_area :message, class: "mb-3 form-control", id: "chat-input", rows: 2, placeholder: "チャットメッセージを入力..." %>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <div class = "stamp-modal d-none flex-wrap justify-content-start" id = "stamp_modal">
              <% @stamps.each do |stamp|%>
                <div class = "mr-3 d-flex flex-column align-items-center">
                  <%= image_tag stamp.stamp_image, data: {id: stamp.id }, class: "stamp-item", style: "width:40px; height:40px; object-fit:cover; cursor: pointer;" %>
                  <span style = "font-size:10px;"><%= stamp.stamp_name %></span>
                </div>
              <% end%>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center">
            <%= f.hidden_field :stamp_id, id: "stamp-id" %>
            <button type = "button" class = "btn btn-secondary" id = "stamp-btn">😊</button>
          </div>
          <div class="col-1 d-flex justify-content-end">
              <%= f.submit "送信", class: "btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>