<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row mb-3", style="border-bottom: 2px solid black;">
        <div class = "col-12">
          <h3>学習カテゴリ編集</h3>
        </div>
      </div>
      <div class = "row mb-3 d-flex align-items-center">
        <div class = "col-1 text-center">
          <p>ID</p>
        </div>
        <div class = "col-2 text-center">
          <p>カテゴリ名</p>
        </div>
        <div class = "col-4 text-center">
          <p>カテゴリ説明</p>
        </div>
        <div class = "col-2 text-center">
          <p>更新日</p>
        </div>
        <div class = "col-1 text-center">
          <p>ステータス</p>
        </div>
      </div>
      <div class = "row mb-3 d-flex align-items-center">
        <div class = "col-1 text-center">
          <p><%= @study_category.id %></p>
        </div>
        <div class = "col-2 text-center">
          <p><%= @study_category.category_title %></p>
        </div>
        <div class = "col-4 text-center">
          <p><%= @study_category.category_body %></p>
        </div>
        <div class = "col-2 text-center">
          <p><%= @study_category.updated_at.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[@study_category.updated_at.wday] %>)</p>
        </div>
        <div class = "col-1 text-center">
          <p><%= @study_category.is_active ? "有効" : "無効" %></p>
        </div>
      </div>
      <div class = "row mb-3 d-flex align-items-center">
        <div class = "col-12">
          <h3>更新フォーム</h3>
        </div>
      </div>
      <%= form_with model: [:admin, @study_category] do |f| %>
        <div class = "row mb-3 d-flex justify-content-center align-items-center">
          <div class = "col-1 text-center">
            <p class="m-0">編集</p>
          </div>
          <div class = "col-2 text-center">
            <% f.label :category_title %>
            <%= f.text_area :category_title, class: "form-control w-100", required: true %>
          </div>
          <div class = "col-4 text-center">
            <% f.label :category_body %>
            <%= f.text_area :category_body, class: "form-control w-100" %>
          </div>
          <div class = "col-2 text-center">
            <%= Time.current.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[Time.current.wday] %>)
          </div>
          <div class = "col-1 text-center">
            <% f.label :is_active %>
            <%= f.radio_button :is_active, true %> 有効<br>
            <%= f.radio_button :is_active, false %> 無効
          </div>
          <div class = "col-2 text-center">
            <%= f.submit "更新", class: "btn btn-outline-success w-100 " %>
          </div>
        </div>    
      <% end %>
    </div>
  </div>
</div>