<div class="mb-4">
  <div class="mb-1">
    <%= image_tag chat_log.user.user_image, style: "width:40px; height:40px; object-fit:cover;" %>
    <strong><%= chat_log.user.name %></strong>
  </div>
  <% if chat_log.message_type == "stamp" %>
    <div style = "width: fit-content; background-color: rgba(100, 149, 237, 0.5); margin-left:50px; padding: 5px 20px; border-radius: 2px 20px 20px 20px; max-width: 100%;">
      <%= image_tag chat_log.stamp.stamp_image, style: "width:100px; height:100px; object-fit:cover;" %>
    </div>
  <% end %>
  <% if chat_log.message_type == "message" %>
    <div style = "width: fit-content; background-color: rgba(100, 149, 237, 0.5); margin-left:50px; padding: 5px 20px; border-radius: 2px 20px 20px 20px; max-width: 100%; word-break: break-all;">
      <%= chat_log.message %>
    </div>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= chat_log.created_at.strftime("%Y/%m/%d %H:%M") %>
  </div>
</div>
