<!-- モーダル_テーマ選択表示 -->
<div class = "modal fade" id="entryModal" data-backdrop="static" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class = "modal-dialog modal-dialog-centered">
    <div class = "modal-content">
      <div class="container-fluid">
        <div class = "modal-header">
          <div class="row mx-auto mb-3">
            <div class="col-12">
              <h3>学習テーマ選択</h3>
            </div>
          </div>
        </div>
        <div class = "modal-body">
          <div class="row mx-auto mb-5">
            <div class="col-12">
              <%= form_with model: [:public, @room_access] do |f| %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.label :theme_title, "学習テーマ名", class: "form-label  w-100 " %>
                <%= f.collection_select :study_theme_id, @study_themes, :id, :theme_title, { prompt: "学習テーマを選択" }, { class: "form-select w-100 mb-3" } %>
                <%= f.submit "入室する", class: "btn btn-outline-primary w-100" %>
              <% end %>
            </div>
          </div>
          <div class="row mx-auto">
            <div class="col-12">
              <%= form_with model: [:public, @study_theme] do |f| %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.label :category_title, "学習カテゴリ", class: "form-label  w-100" %>
                <%= f.collection_select :study_category_id, @study_categories, :id, :category_title, { prompt: "学習カテゴリを選択" }, { class: "form-select w-100 mb-3" } %>
                <%= f.label :theme_color, "学習テーマ色", class: "form-label  w-100"  %>
                <%= f.select :theme_color, StudyTheme.theme_colors_i18n.invert, { include_blank: "学習テーマ色を選択"}, { class: "form-select  w-100 mb-3" }%>
                <%= f.label :theme_title, "学習テーマ名", class: "form-label  w-100" %>
                <%= f.text_area :theme_title, class: "form-control mb-3", rows: 1 %>
                <%= f.label :theme_body, "学習テーマ説明", class: "form-label  w-100"  %>
                <%= f.text_area :theme_body, class: "form-control mb-3", rows: 1 %>
                <%= f.submit "学習内容を登録して入室する", class: "btn btn-outline-success w-100 mb-3" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class = "modal-footer">
          <div class="row mx-auto">
            <div class="col-12">
              <%= link_to "学習ルーム選択に戻る", public_rooms_path, class: "btn btn-outline-secondary btn-sm" %>
            </div>
          </div>    
        </div>
      </div>
    </div>  
  </div> 
</div>  


<!-- メイン画面_学習ルーム画面 -->
<div class="container-fluid">
  <div class="row mx-auto mb-3" style="height: 10rem;">
    <div class="col-12">
      <h3>タイマー表示</h3>
    </div>
  </div>
  <div class="row mx-auto mb-3" style="height: 20rem;">
    <div class="col-8">
      <h3>チャット機能</h3>
    </div>
    <div class="col-4">
      <h3>現在参加者</h3>
      <% @room_accesses.each do |room_access| %>
        <%= room_access.user.name %>
        <%= room_access.study_theme.theme_title %>
        <%= room_access.study_status %>
      <% end %>
    </div>
  </div>
  <div class="row mx-auto mb-3">
    <div class="col-12">
      <% if @study_status == "waiting" %>
        <%= button_to "学習を開始", public_study_records_path(room_access_id: @active_room_access.id), method: :post, class: "btn btn-primary" %>
      <% end %>
      <% if @study_record %>
        <% if @study_status != "waiting" %>
          <%= link_to "学習を終了", finish_public_study_record_path(study_record_id: @study_record.id, room_access_id: @active_room_access.id), method: :patch, class: "btn btn-outline-success" %>
        <% end %>
        <% if @study_status == "studying" %>
          <%= button_to "一時離席", public_study_interval_path(study_record_id: @study_record.id, room_access_id: @active_room_access.id), method: :patch, class: "btn btn-primary" %>
        <% end %>
        <% if @study_status == "paused" %>
          <%= button_to "学習を再開", public_study_intervals_path(study_record_id: @study_record.id, room_access_id: @active_room_access.id), method: :post, class: "btn btn-primary" %> 
        <% end %>
        
      <% end %>
    </div>
  </div>
</div>




  </div>
</div>
<% unless current_user.room_accesses.exists?( is_active: true ) %>
  <script>
    document.addEventListener('turbolinks:load', function() {
      var modalElement = document.getElementById('entryModal');

      if (modalElement) {
        var myModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        myModal.show();
      }
    });
  </script>
<% end %>