<% if admin_signed_in? %>
  <% room_accesses.each do |room_access| %>
    <div class="row mx-0 p-2 border-bottom">
      <div class="col-4 d-flex justify-content-left align-items-center">
        <span class = "mr-3"><%= image_tag room_access.user.user_image, style: "width:30px; height:30px; object-fit:cover;" %></span>
        <%= room_access.user.name %>
      </div>
      <div class="col-4 d-flex justify-content-left align-items-center">
        <%= room_access.study_theme.theme_title %>
      </div>
      <div class="col-3 d-flex justify-content-left align-items-center">
        <%= room_access.study_status %>
      </div>
      <div class="col-1 d-flex justify-content-left align-items-center">
        <%= link_to "削除", force_exit_admin_room_path(user_id: access.user_id, room_access_id: access.id, study_record_id: access.user.study_records.find_by(ended_at: nil)&.id), method: :patch, remote: true, data: { confirm: "このユーザーを強制退室させますか？" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
<% else %>
  <% room_accesses.each do |room_access| %>
    <div class="row mx-0 p-2 border-bottom">
      <div class="col-5 d-flex justify-content-left align-items-center">
        <span class = "mr-3"><%= image_tag room_access.user.user_image, style: "width:30px; height:30px; object-fit:cover;" %></span>
        <%= room_access.user.name %>
      </div>
      <div class="col-4 d-flex justify-content-left align-items-center">
        <%= room_access.study_theme.theme_title %>
      </div>
      <div class="col-3 d-flex justify-content-left align-items-center ">
        <%= room_access.study_status %>
      </div>
    </div>
  <% end %>
<% end %>