<div class = "container-fluid">
  <div class = "row">
    <div class = "col-11 offset-1">
      <h1>学習テーマ一覧</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-1 offset-1">
      <p>No.</p>
    </div>
    <div class = "col-2">
      <p>テーマ名</p>
    </div>
    <div class = "col-3">
      <p>テーマ説明</p>
    </div>
    <div class = "col-1">
      <p>テーマ色</p>
    </div>
    <div class = "col-2">
      <p>学習カテゴリ</p>
    </div>
  </div>
  <% @study_themes.each_with_index do |study_theme, i|%>
    <div class = "row">
      <div class = "col-1 offset-1">
        <p><%= i + 1 %></p>
      </div>
      <div class = "col-2">
        <p><%= study_theme.theme_title %></p>
      </div>
      <div class = "col-3">
        <p><%= study_theme.theme_body %></p>
      </div>
      <div class = "col-1">
        <p><%= study_theme.theme_color %></p>
      </div>
      <div class = "col-2">
        <p><%= study_theme.study_category.category_title %></p>
      </div>
      <div class = "col-2">
        <p>
          <%= link_to "編集", edit_public_study_theme_path(study_theme), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", public_study_theme_path(study_theme), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
        </p>
      </div>
    </div>
  <% end %>
</div>