<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row">
        <div class = "col-12">
          <h3 class="pt-3 pb-3 m-0">学習記録一覧</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class= "align-middle text-center">No.</th>
                  <th class= "align-middle text-center">学習日</th>
                  <th class= "align-middle text-center">開始 / 終了</th>
                  <th class= "align-middle text-center">集中時間</th>
                  <th class= "align-middle text-center">ルーム</th>
                  <th class= "align-middle text-center">カテゴリ</th>
                  <th class= "align-middle text-center">テーマ</th>
                  <th class= "align-middle text-center">投稿表示</th>
                  <th class= "align-middle text-center"></th>
                </tr>
              </thead>
              <tbody>
                <% @study_records.each_with_index do |record, i| %>
                  <tr>
                    <td class= "align-middle text-center"><%= i + 1 %></td>
                    <td class= "align-middle text-center"><%= record.started_at.strftime("%Y/%m/%d") %></td>
                    <td class= "align-middle text-center"><%= record.started_at.strftime("%H:%M") %> 〜 <%= record.ended_at.strftime("%H:%M") %></td>
                    <td class= "align-middle text-center"><%= record.total_focus_minutes %>分</td>
                    <td class= "align-middle text-center"><%= record.room.room_name %></td>
                    <td class= "align-middle text-center"><%= record.study_theme.study_category.category_title %></td>
                    <td class= "align-middle text-center"><%= record.study_theme.theme_title %></td>
                    <td class= "align-middle text-center"><%= record.is_publish ? "表示" : "非表示" %></td>
                    <td class= "align-middle text-center">
                      <% if @user == current_user %>
                        <%= link_to "詳細", public_study_record_path(record), class: "btn btn-sm btn-primary" %>
                        <%= link_to "削除", public_study_record_path(record), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>