<div class = "container-fluid timeline-page ">
  <div class = "row p-3">
    <div class = "col-12 col-md-10 offset-md-1">
      <h3 class="title-heading">学習タイムライン</h3>
      <div class="mt-3 mb-3 d-flex justify-content-center justify-content-md-end">
        <%= render 'searches/form' %>
      </div>
      <% @study_records.each_with_index do |study_record, i| %>
        <% if study_record.is_publish %>
          <div class="card shadow-sm pt-0 pr-3 pl-3 pb-3 mb-3">
            <div class = "row">
              <div class = "col-12" style = "background-color: rgba(0, 0, 0, 0.05);">
                <p class=" pt-3 pb-3 mb-0">
                  <%= link_to public_user_path(study_record.user_id), class: "user-show-link" do %>
                    <%= image_tag study_record.user.get_image_resize, style: "width:30px; height:30px; object-fit:cover;", class: "mr-2" %>  
                    <%= study_record.user.name %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class = "row mt-3">
              <div class = "col-12 col-sm-12 col-md-12 col-lg-4 mb-3">
                  学習テーマ：<%= study_record.study_theme.theme_title %></br>
                  学習カテゴリ：<%= study_record.study_theme.study_category.category_title %></br>
                  学習時間：<%= study_record.total_focus_minutes %>分
              </div>
              <div class = "col-12 col-sm-12 col-md-12 col-lg-8 mb-3 text-break">
                <p>
                  <%= study_record.record_body %>
                </p>
              </div>
            </div>
            <div class = "row">
              <div class = "col-12 col-md-7 d-flex justify-content-end align-items-center p-0">
              
                <%= link_to public_study_record_path(study_record) do %>
                  <% if study_record.user == current_user%>
                    <i class="fa-regular fa-pen-to-square mr-3">詳細</i>
                  <% else %>
                    <i class="fa-regular fa-pen-to-square mr-3">コメントをする</i>
                  <% end %>
                <% end %>
              </div>
              <div class = "col-4 offset-8 col-md-2 offset-md-0 p-0 d-flex justify-content-end align-items-center">
                <i class="fa-regular fa-pen-to-square mr-3">
                  <%= study_record.comments.count %>
                </i>
                <% if study_record.user != current_user%>
                  <% if study_record.likes_by?(current_user) %>
                    <%= link_to public_study_record_likes_path(study_record, redirect_to: "timeline"), method: :delete , class: "liked" do %>
                      <i class="fa-solid fa-hands-clapping mr-3">
                        <%= study_record.likes.count %>
                      </i>
                    <% end %>
                  <% else %>
                    <%= link_to public_study_record_likes_path(study_record, redirect_to: "timeline"), method: :post, class: "not-liked" do %>
                      <i class="fa-solid fa-hands-clapping mr-3">
                        <%= study_record.likes.count %>
                      </i>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-hands-clapping mr-3 liked">
                    <%= study_record.likes.count %>
                  </i>
                <% end %>
              </div>
              <div class = "col-12  col-md-3 d-flex justify-content-end align-items-center">
                <%= study_record.created_at.strftime("%Y/%m/%d %H:%M") %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>