<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row mb-3", style="border-bottom: 2px solid black;">
        <div class = "col-12">
          <h3 class="pt-3 pb-3 m-0">ユーザ一覧</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class= "align-middle text-center">No.</th>
                  <th class= "align-middle text-center">ID</th>
                  <th class= "align-middle ">ユーザー名</th>
                  <th class= "align-middle ">メールアドレス</th>
                  <th class= "align-middle text-center">アカウント作成日時</th>
                  <th class= "align-middle text-center">ステータス</th>
                  <th class= "align-middle text-center">退会ボタン</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each_with_index do |user, i| %>
                  <tr>
                    <td class= "align-middle text-center"><%= i + 1 %></td>
                    <td class= "align-middle text-center"><%= user.id %></td>
                    <td class= "align-middle"><%= user.name %></td>
                    <td class= "align-middle"><%= user.email %></td>
                    <td class= "align-middle text-center"><%= user.created_at.strftime("%Y年%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[user.created_at.wday] %>)</td>
                    <td class= "align-middle text-center"><%= user.is_active %></td>
                    <td class= "align-middle text-center"><%= link_to "削除", admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger w-100" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>