<div class="container-fluid">
  <div class = "row">
    <div class = "col-11 mx-auto">
      <div class = "row mb-3", style="border-bottom: 2px solid black;">
        <div class = "col-12">
          <h3 class="pt-3 pb-3 m-0">スタンプ一覧</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "col-12">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class= "align-middle text-center">ID</th>
                  <th class= "align-middle">スタンプ名</th>
                  <th class= "align-middle">スタンプイメージ</th>
                  <th class= "align-middle text-center">更新日</th>
                  <th class= "align-middle text-center">ステータス</th>
                  <th class= "align-middle text-center">公開設定</th>
                  <th class= "align-middle text-center">編集</th>
                </tr>
              </thead>
              <tbody>
                <% @stamps.each do |stamp| %>
                  <tr>
                    <td class= "align-middle text-center"><%= stamp.id %></td>
                    <td class= "align-middle"><%= stamp.stamp_name %></td>
                    <td class= "align-middle"><%= image_tag stamp.stamp_image, width: 100 %></td>
                    <td class= "align-middle text-center"><%= stamp.updated_at.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[stamp.updated_at.wday] %>)</td>
                    <td class= "align-middle text-center"><%= stamp.is_active ? "有効" : "無効" %></td>
                    <td class= "align-middle text-center">
                      <% if stamp.is_active %>
                        <%= link_to "無効化", activate_admin_stamp_path(stamp), method: :patch, class: "btn btn-sm btn-danger w-100" %>
                      <% else %>
                        <%= link_to "有効化", activate_admin_stamp_path(stamp), method: :patch, class: "btn btn-sm btn-success w-100" %>
                      <% end %>
                    </td>
                    <td class= "align-middle text-center"><%= link_to "編集", edit_admin_stamp_path(stamp), class: "btn btn-sm btn-success w-100" %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <%= form_with model: [:admin, @stamp] do |f| %>
                  <tr>
                    <td class= "align-middle text-center pt-5 pb-5">新規作成</td>
                    <td class= "align-middle pt-5 pb-5">
                      <% f.label :stamp_name %>
                      <%= f.text_area :stamp_name, class: "form-control w-100", rows: 3, required: true %>
                    </td>
                    <td class= "align-middle pt-5 pb-5">
                      <% f.label :stamp_image %>
                      <%= f.file_field :stamp_image, accept:"image/*", required: true %>
                    </td>
                    <td class= "align-middle text-center pt-5 pb-5">
                      <%= Time.current.strftime("%-m月%-d日") %>(<%= %w(日 月 火 水 木 金 土)[Time.current.wday] %>)
                    </td>
                    <td class= "align-middle text-center pt-5 pb-5"></td>
                    <td class= "align-middle text-center pt-5 pb-5">
                      <% f.label :is_active %>
                      <%= f.radio_button :is_active, true %> 有効<br>
                      <%= f.radio_button :is_active, false %> 無効
                    </td>
                    <td class= "align-middle text-center pt-5 pb-5"><%= f.submit "追加", class: "btn btn-outline-success w-100 " %></td>
                  </tr>
                <% end %>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>