<div class = "container">
  <div class = "row">
    <div class="col-md-6 mx-auto mb-3">
      <h1>ユーザ情報編集</h1>
      <div class = "row">
        <div class="col-md-12 mx-auto mb-3">
          <%= form_with model: [:public, @user] do |f|%>

            <div class="mb-3">
              <%= f.label :name, "ユーザ名" %>
              <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :user_image, "ユーザアイコン" %></br>
              <% if @user.user_image.attached? %>
                <%= image_tag @user.user_image, style: "width:120px; height:120px; object-fit:cover;" %>
              <% else %>
                <%= image_tag "no_image.jpg", style: "width:120px; height:120px; object-fit:cover;" %>
              <% end %></br>
              <%= f.file_field :user_image, accept:"image/*" %>
            </div>

            <%= f.submit "更新する", class: "btn btn-success" %>
          <% end %>
          <div class="mb-3">
            <%= link_to "退会する",public_user_path, method: :delete, data: { confirm: "退会します。\n本当によろしいですか？" }, class: "btn btn-danger"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>