<div class = "container">
  <div class = "row">
    <div class="col-12 p-3">
      <h2 class="align-middle text-center m-3">ユーザ情報編集</h2>
      <div class = "row">
        <div class="col-7 col-sm-7 col-md-6 col-lg-5 mx-auto mb-3 text-center">
          <%= form_with model: [:public, @user] do |f|%>
            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <strong><%= @user.errors.count %>件のエラーが発生しました</strong>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="mb-3">
              <%= f.label :name, "ユーザ名(#{User::NAME_MAX_LENGTH}文字以下)" %>
              <%= f.text_field :name, autocomplete: "name", class: "mb-3 form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :user_image, "ユーザアイコン" %></br>
              <% if @user.user_image.attached? %>
                <%= image_tag @user.get_image_resize, style: "width:120px; height:120px; object-fit:cover;",class:"mb-3" %>
              <% else %>
                <%= image_tag "no_image.jpg", style: "width:120px; height:120px; object-fit:cover;" %>
              <% end %></br>
              <%= f.file_field :user_image, accept:"image/*", style: "font-size: 0.7rem; width: 200px;" %>
            </div>
            <%= f.submit "更新する", class: "mb-3 btn btn-success form-control" %>
          <% end %>
          <div class="mb-3">
            <%= link_to "退会する",public_user_path, method: :delete, data: { confirm: "退会します。\n本当によろしいですか？" }, class: "btn btn-danger form-control"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>