<!DOCTYPE html>
<html>
  <head>
    <title>Admin - COPOMO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8edf93cddf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column min-vh-100 <%= controller_name %>-<%= action_name %>">
    <header>
      <div class = "container-fluid h-100">
        <div class = "row h-100">
          <div class = "col-6 h-100 px-0 py-0"> 
            <%= link_to admin_root_path do %>
              <%= image_tag "copomo_logo_t2.png", style: "height: 100%;" %>
            <% end %>
            <strong>COPOMO管理者</strong>
          </div>
          <div class = "col-6 px-0 py-0 d-flex justify-content-end">
            <nav class="navbar navbar-expand-lg navbar-light w-100 p-0 justify-content-end">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse h-100 justify-content-end" id="navbarNav">
                <ul class="navbar-nav header-list list-unstyled mb-0 h-100 align-items-center">
                  <% if admin_signed_in? %>
                    <li class = "nav-item">
                      <%= link_to "管理一覧",admin_root_path, class: "nav-link" %>
                    </li>
                    <li class = "h-100 nav-item">
                      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main class="flex-fill d-flex">
      <%= yield %>
    </main>

    <footer class="d-flex  align-items-center justify-content-center">
      <p class="m-0">&copy; 2026 COPOMO.</p>
    </footer>

  </body>
</html>
